/* .forum-list-container {
  background-color: lightgray;
}

.transparent {
  background-color: transparent;
} */
/* ============ MAIN ======================== */
/* ============ USER MENU ======================== */

/* .namePic {
  display: flex;
  border: 1px solid lime;
}
.imageContainer {
  border: 1px solid gray;
  height: 6rem;
  flex-basis: 10rem;
  flex-grow: 0;
}
.nameContainer {
  border: 1px solid orange;
  align-self: stretch;
  font-size: 1.5rem;
  width: 100%;
}
.userName {
  text-align: center;
} */

/* ========= WHOLE LAYOUT ===================== */
.middle h1 {
  text-align: center;
  font-size: 2rem;
}
/* ========= CLASSIFIED ===================== */
.gridContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100vw; */
  padding: 2rem;
}

.cardContainer {
  border: 1px solid #222;
  display: grid;
  grid-template-columns: repeat(1, 80fr);
  gap: 2rem;
  align-items: center;
  justify-content: center;
  /* padding: 0.5rem; */
  width: 100%;
}
.db-card {
  padding-left: 2rem;
  font-family: "Berkshire Swash", cursive;
  color: rgb(247, 206, 158);
}
.bg-card {
  text-align: center;
  text-shadow: 3px 3px 0 var(--black);
  padding: 1.3rem;
  font-family: "Neucha", cursive;
  font-size: 5rem;
  color: rgb(250, 252, 187);
}
.amp-card {
  font-family: "Courier Prime", monospace;
  text-shadow: 0 0 5px var(--black);
  padding: 1rem;
  font-size: 3rem;
  color: var(--white);
}
.acc-card {
  padding-top: 5rem;
  text-align: center;
  color: var(--white);
  font-family: "Sacramento", cursive;
  font-size: 4rem;
  text-shadow: 2px 2px 0 var(--black);
  text-decoration: underline;
  text-decoration-thickness: 5px;
}
/* =============== CLASSIFIED FOR SALE ============ */
.classifiedForSaleHeading {
  text-align: center;
  font-size: 2rem;
}
.forSaleGridContainer {
  display: grid;
  grid-template-columns: 1;
  gap: 1rem;
}

/* ============ CLASSIFIED LIST UNIT ========================= */
.border {
  border: 1px solid #222;
}
.wholeItemContainer {
  display: flex;
  justify-content: space-between;
}
.imageAndInfoContainer {
  display: flex;
}
.imageContainer {
  width: 100%;
  border: 1px solid red;
}
.forSaleImageContainer {
  display: flex;
  justify-content: center;
  align-items: centers;
  border: 1px solid gray;
  padding: 0.5rem;
  height: 8rem;
  width: 8rem;
}
.forSaleImage {
  max-width: 100%;
  max-height: 100%;
}
.price {
  font-size: 1.3rem;
  font-weight: 700;
}
.sellerInfo {
  display: none;
  border-left: 1px solid gray;
  width: 10rem;
}
.sellerImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid pink;
  height: 6rem;
  width: 6rem;
}

/* ============== RESPONSIVE ================ */
@media (min-width: 750px) {
  .whole {
    display: flex;
    justify-content: space-between;
    /* gap: 0; */
  }
  .sides {
    /* border: 2px solid gray; */
  }
  .left {
    display: none;
    /* flex-basis: 20rem; */
  }
  .right {
    display: none;
  }
  .middle {
    /* border: 2px solid lime; */
    width: 100%;
  }

  /* =========== CLASSIFIED CATEGORIES ================= */
  .gridContainer {
    padding-left: 0;
    padding-right: 0;
  }
  .cardContainer {
    grid-template-columns: repeat(2, 35fr);
    /* padding: 1rem 9rem; */
    /* gap: 1rem 2rem; */
    /* min-width: 40rem; */
    max-width: 45rem;
  }
  .db-card {
    padding-right: 1rem;
    text-align: right;
    font-size: 3rem;
  }
  .acc-card {
    padding-top: 3rem;
    text-shadow: 3px 3px 0 var(--black);
  }
  .bg-card {
    text-align: center;
    text-shadow: 0 0 5px var(--black);
    padding-top: 4rem;
    /* color: rgb(250, 252, 187); */
  }
  .amp-card {
    padding-top: 4rem;
    text-shadow: 3px 3px 0 var(--black);
    color: rgb(196, 143, 108);
  }
  /* ============ CLASSIFIED UNIT ================== */

  .sellerInfo {
    display: initial;
  }
}

@media (min-width: 780px) {
  .left {
    display: initial;
  }
  .userMenu {
    /* visibility: hidden; */
  }
}

@media (min-width: 900px) {
  .userMenu {
    visibility: visible;
  }
  /* .imageContainer {
    background-image: url("../../public/avatars/default-avatar.png");
    background-size: cover;
    min-width: 7rem;
  } */
  /* .sides {
    flex-grow: 1;
  } */
  .right {
    /* max-width: 8rem; */
    /* flex-grow: 1; */
    display: initial;
  }
  .left {
    /* max-width: 8rem; */
    /* flex-grow: 1; */
  }
  .middle {
    /* width: 42rem; */
    flex-basis: 44rem;
  }

  /* ======== USER MENU =================== */
  .namePic {
    display: flex;
    flex-direction: column;
    border: 1px solid lime;
  }
  .imageContainer {
    /* background-image: url("../../public/avatars/default-avatar.png");
    background-size: contain;
    background-repeat: no-repeat; */
    min-width: 5rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;
    border: 1px solid gray;
    height: 6rem;
    flex-basis: 10rem;
    flex-grow: 0;
  }
  .nameContainer {
    border: 1px solid orange;
    align-self: stretch;
    font-size: 0.5rem;
    width: 100%;
  }
  .userName {
    text-align: center;
  }
}

@media (min-width: 1035px) {
  .namePic {
    display: flex;
    border: 1px solid lime;
  }
  /* .sides {
    flex-grow: 0;
    max-width: 13rem;
  } */
  .left {
    flex-grow: 1;
    max-width: 20rem;
  }
  .right {
    max-width: 20rem;
    flex-grow: 1;
  }
  .nameContainer {
    font-size: 0.9rem;
  }
  .imageContainer {
    min-width: 10rem;
  }
  /* .imageContainer {
    border: 1px solid gray;
    height: 6rem;
    flex-basis: 10rem;
    flex-grow: 0;
  }
  .nameContainer {
    border: 1px solid orange;
    align-self: stretch;
    font-size: 1.5rem;
    width: 100%;
  }
  .userName {
    text-align: center;
  }

  .right {
    max-width: 30rem;
  } */
}
